.hero-section {
    width: 100%;
    background-color: #ffcc00; /* Gold/Yellow Background */
    display: flex;
    justify-content: center;
    height: 650px;
    position: relative;
    top: -1px;
}
.hero {
    background-color: #ffcc00; /* Gold/Yellow Background */
    color: #000; /* Black Text */
    padding: 6rem 0;
    text-align: center;
    position: relative; /* To allow absolute positioning inside */
    z-index: 0;
    
    max-width: 1568px;
    width: 100%;
}

.hero-content {
    max-width: 600px;
    left: -12rem;
    top: -3rem;
    margin: 0 auto;
    position: relative; /* To position the superhero dog image */
    text-align: start;
}

.hero-title {
    font-size: 3em; /* Made the text a bit larger */
    margin-bottom: 0.5em;
    font-weight: 600; /* Made text bold */
    position: relative;
}

.hero-description {
    font-size: 1em; /* Made the text a bit larger */
    margin-bottom: 2em;
}

/* Image of the superhero dog character */
.hero-image {
    position: absolute;
    max-height: 33rem;
    margin: 2rem;
    bottom: 0rem; /* Adjust as necessary */
    right: 1%;
    width: auto; /* Adjust as necessary */

}

.cloud-image {
    margin: 3rem;
    position: absolute;
    bottom: 1rem;      
    left: 0;    
    width: 50%; 
    max-width: 45re m;
    height: auto; 
    z-index: -1; /* Positioned below the content but above the background color */
}




/* Existing styles... */

/* Add a media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .hero-section{
      width: 100.2vw;
      overflow: hidden;
      height: 700px;
    }
    .hero {
      padding: 70px 0;
    }
    .hero-content {
      max-width: none;
      left: 0;
      text-align: center;
      margin: 0 auto;
      padding: 0 30px
    } 
    .hero-title {
      font-size: 2em;
    }
  
    .hero-description {
      font-size: 1em;
    }
  
    .hero-image {
      position: relative;
      max-height: none;
      margin: 1rem 0;
      width: 70%;
      top: -80px;
      left: 60px;
    }
  
    .cloud-image {
      max-width: none;
      margin: 2rem 0;
      position: absolute;
      top: 350px;
      left: 0px;
      width: 70%;
    }
  }
  