.why-watchdoge-section {
    width: 100%;
    background-color: #2B2354; /* Or any color you choose from the mock-up */
    position: relative;
    display: flex;
    max-height: 830px;
    min-height: 880px;
    justify-content: center;
}

.space-background {
    position: absolute;
    width: 100%;
    max-width: fit-content;

    z-index: 0;
    bottom: 0;
    left: 0;
    max-height: 780px;
    height: 780px;
}

.why-watchdoge-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 20px;
    width: 1568px;
    justify-content: space-around;
    color: white;
}

.why-watchdoge-header h2{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    min-width: 525px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.why-watchdoge-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 170px;
}

.watchdoge-image {
    display: flex;
    justify-content: center;
    width: 60%;
    min-width: 600px;
}

.watchdoge-image img {

    width: 65%;
    position: relative;
    left: -40px;
    top: 100px
}

.watchdoge-description {
    padding: 20px;
    position: relative;
    left: -150px;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 30px;
}

.point {
    font-size: 1.15rem;
    width: 80%;
    margin: 0px;
    margin-left: .5rem;
    margin-bottom: 15px;
}

.point h5{
    color: #FEC400;
    margin: 0px;
    padding: 0px;
    margin-bottom: 3px;
}

.point p {
    margin: 0px
}
