.flag-section {
    position: relative;
    background-color: #342B58; /* Sample color, adjust accordingly */
    width: 100%;
    display: flex;
    justify-content: center;
}

.watchdoge-flag-section {
    position: relative;
    width: 100%;
    max-width: 1568px;
    height: 1050px;
    overflow: hidden;
    background-color: #342B58; /* Sample color, adjust accordingly */
}

.background-img {
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 1;
}

.mascot-img {
    position: absolute;
    left: 10%; /* adjust accordingly */
    bottom: 10%; /* adjust accordingly */
    width: 25%; /* adjust accordingly */
    z-index: 2;
}

.text-content {
    position: absolute;
    top: 5%; /* adjust accordingly */
    right: 20%; /* adjust accordingly */
    z-index: 3;
    color: white; /* adjust the text color as needed */
    width: 600px;
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
}

.text-content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin:0px;
    min-width: 1000px;
    position: relative;
}



li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

ul {
    padding-inline-start: 0px;
}


.text-details section{
    width: 100%;
}


@media screen and (max-width: 767px) {
    .mascot-img {
        width: 40%; /* Adjust size for mobile */
        left: 70%;
        bottom: 10px;
        transform: translateX(-50%); /* Center align image */
    }

    .flag-section {
        width: 100.2vw;
    }

    .watchdoge-flag-section {
        height: 780px;
    }

    .text-content {
        position: relative; /* Changed to relative */
        top: 20px; /* Adjust as needed */
        right: 0; /* Reset for mobile */
        width: 100%; /* Full width on mobile */
        padding: 20px; /* Adjust padding */
        margin-top: 10%; /* Adjusted to not overlap with the image */
    }

    .text-content h2 {
        font-size: 1.5rem; /* Smaller font size for mobile */
        min-width: 0; /* Reset min-width */
    }
}