.flag-section {
    position: relative;
    background-color: #342B58; /* Sample color, adjust accordingly */
    width: 100%;
    display: flex;
    justify-content: center;
}

.watchdoge-flag-section {
    position: relative;
    width: 100%;
    max-width: 1568px;
    height: 1050px;
    overflow: hidden;
    background-color: #342B58; /* Sample color, adjust accordingly */
}

.background-img {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.mascot-img {
    position: absolute;
    left: 12%; /* adjust accordingly */
    bottom: 14%; /* adjust accordingly */
    width: 45%; /* adjust accordingly */
    z-index: 2;
}

.text-content {
    position: absolute;
    top: 5%; /* adjust accordingly */
    right: 10%; /* adjust accordingly */
    z-index: 3;
    color: white; /* adjust the text color as needed */
    width: 400px;
    display: flex;
    flex-direction: column;
}

.text-content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin:0px;
}

.text-details {


}
.text-details p{
    width: 120%;
}