.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffcc00;
    
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.logo img {
  width: 64px;
  height: auto;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;

}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

a button {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.connect-wallet {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;

}

.connect-wallet:hover {
  background-color: #555;
}

.navbar a.active {
  text-decoration: underline;
  font-weight: 700;
}


.menu-icon {
  display: none; /* Initially hide the menu icon */
  cursor: pointer;
}

/* Style for the menu icon bars */
.menu-icon .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.menu-icon.active .bar {
  background-color: #fff; /* Change color when active (menu is open) */
}



/* Add a media query for smaller screens (adjust as needed) */
@media screen and (max-width: 768px) {
  
  .header {
    width: auto;
  }
  .navbar ul {
    display: none; /* Hide the navigation links */
    flex-direction: column; /* Change to a vertical layout */
    text-align: center; /* Center-align the links */

  }

  .navbar li {
    margin: 10px 0; /* Add some spacing between the links */
  }

  .navbar.active ul {
    display: flex; /* Show the links in a column layout */
    justify-content: center; /* Center-align the links */
    position: absolute;
    z-index: 2;
    flex-direction: row;
    top: 85px;
    left: 13%;
  }
  /* Style for the menu icon bars */
  .menu-icon .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: background-color 0.3s ease;
  }

  .menu-icon {
    display: block; /* Initially hide the menu icon */
    cursor: pointer;
  }

  .menu-icon.active .bar {
    background-color: #fff; /* Change color when active (menu is open) */
  }
}


