/* Main Bone Section */
.bone-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FEC400; /* or whatever background color you prefer */
    width: 800px;
}

/* Bone Header */
.bone-header {
    margin-left: 0px;
    padding: 0px;
    font-size: 2.0rem;
    padding-bottom: 50px;
    color: black;
    position: relative;
}

.bone-header h2{
    margin-bottom: 20px;
}

.bone-header img {
    position: absolute;
    width: 50%;
    top: -16px;
    z-index: 0;
    left: 0px;
}

.bone-header p {
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: start;
    width: 100%;
    font-weight: 600;
}
.bone-header section {
    z-index: 1;
    font-weight: 500;
    font-size: 24px;
}

/* Bullet Points */
.bullet {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    height: fit-content;
    border: 2px solid black;   
    position: relative;
}

.bullet h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 295px;
    text-align: start;
    padding-left: 90px;
    padding-top: 40px;
    color: white;
    background-color: black;
    height: 33px;
    border-radius: 15px;
    position: absolute;
    left: -65px;
    top: -55px;
}

.bullet p {
    margin-left: 0px; /* To give a bit of indentation to the description */
    position: relative;
    padding-left: 27px;
    font-size: 1.1rem;
    height: auto;
    padding-top: 35px;
}

/* Footer Section */
.footer-section {
    width: 100%;
    margin-top: 120px;
    padding-bottom: 120px;
}

.footer-section h2{
    font-size: 3rem;
}

.footer-section h6 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0px;
}

.footer-header {
    font-size: 1.4em;
    margin-bottom: 40px;
}

.footer-section .footer-content{
    width: 65%;
    display: inline-block;
}

.footer-section .footer-img{
    width: 35%;
    display: inline-block;
}

.footer-caption {
    color: black;
    text-align: start;
}

.footer-description {
    margin-bottom: 20px;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 25px;
}

.rocket-img {
    width: 500px;
    height: auto;
    margin-left: 38px;
}

.bone-container {
    background-color: #FEC400;
    width: 100%;
    display: flex;
    justify-content: center;
}


.bullet-header {
    display: flex;
    width: 100%;
}


@media screen and (max-width: 767px) {
    .bone-container {
        width: 100%;
    }
    .bone-section {
        width: 100%;
    }

    .bone-header {
        padding-bottom: 35px;
        width: 100%;
        font-size: 1.75rem;
    }

    .bone-header p {
        width: 100%;
        padding-bottom: 40px;
    }

    .bullet-header {
        flex-direction: column; /* Stack header and bullets vertically */
    }

    .bone-header section {
        position: relative;
        z-index: 1;
        top: 75px;
        width: 500px;
        font-weight: 500;
    }

    .bullet h3 {
        width: 100%; /* Adjust width to fit container */
    }
    .bullet {
        width: 100%;
    }
    .bullet p {
        width: 87%;
    }

    .footer-section {
        flex-direction: column-reverse; /* Stack footer content above the image */
        width: 100%;
    }


    .rocket-img {
        margin-top: 20px; /* Add margin above the image */
        display: none;
    }

}