/* Main Bone Section */
.bone-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FEC400; /* or whatever background color you prefer */
    width: 800px;
}

/* Bone Header */
.bone-header {
    width: 365px;
    margin-left: 5px;
    padding: 20px;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    position: relative;
    margin-top: 80px;
    top: -30px;
    margin-bottom: 40px;
}

.bone-header img {
    position: absolute;
    width: 45%;
    top: -1px;
    z-index: 0;
    left: -10px;
}

.bone-header p {
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center;
    width: 125px;
}

/* Bullet Points */
.bullet {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    height: 105px;
    border: 2px solid black;   
    display: relative;
}

.bullet h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 150px;
    text-align: start;
    padding-left: 90px;
    padding-top: 40px;
    color: white;
    background-color: black;
    height: 33px;
    border-radius: 15px;
    position: relative;
    left: -65px;
    top: -55px;
}

.bullet p {
    margin-left: 0px; /* To give a bit of indentation to the description */
    color: #666; 
    position: relative;
    top: -53px;
    left: 27px;
}

/* Footer Section */
.footer-section {
    width: 100%;
    display: flex;
}

.footer-header {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.footer-caption {

    color: black;
    text-align: start;
}

.footer-description {
    margin-bottom: 20px;
    color: #666;
    text-align: start;
}

.rocket-img {
    width: 500px;
    height: auto;
}

.bone-container {
    background-color: #FEC400;
    width: 100%;
    display: flex;
    justify-content: center;
}


.bullet-header {
    display: flex;
    width: 100%;
}