/* Reset Styles */
/* Add the contents of reset.css here */

/* Global Styles */

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* ... any other global styles you want ... */
    min-width: 1180px;
    padding: 0px;
    margin: 0px;


}

html {
    scroll-behavior: smooth;
}

/* Header Component Styles */

/* ... any other component or layout-specific styles ... */
